<h1 class="text-2xl font-bold mb-6">Вход</h1>

<.form for={@form} action={~p"/users/log-in"}>
  <.input field={@form[:email]} type="email" label="Email" required />
  <.input field={@form[:password]} type="password" label="Пароль" required />

  <div class="mt-4">
    <.button type="submit" variant="primary">Войти</.button>
  </div>
</.form>
