<div class="bg-white rounded-global shadow-sm p-6 mb-4 dark:bg-dark-card">
  <h1 class="text-2xl font-bold mb-6 dark:text-dark-text">Редактировать пост</h1>
  <.form for={@form} action={~p"/posts/#{@post.id}"} method="put">
    <.input field={@form[:title]} label="Заголовок" />
    <.input field={@form[:body]} type="textarea" label="Текст поста" rows="8" />
    <.input field={@form[:author_nickname]} label="Ник" />

    <div class="flex justify-end gap-3">
      <.button navigate={~p"/posts/#{@post.id}"} variant="secondary" class="btn-outline">Назад</.button>
      <.button type="submit">Сохранить</.button>
    </div>
  </.form>
</div>
