<div class="bg-white rounded-global shadow-sm p-6 mb-4 dark:bg-dark-card">
  <h1 class="text-2xl font-bold mb-6 dark:text-dark-text">Редактировать пост</h1>
  <.form for={@form} action={~p"/posts/#{@post.id}"} method="put" id="edit-post-form">
    <.input field={@form[:title]} label={gettext("Заголовок")} />
    <.input field={@form[:body]} type="textarea" label={gettext("Текст поста")} rows="8" />
    <.input field={@form[:author_nickname]} label={gettext("Ник")} />

    <div class="flex justify-end gap-3 mt-6">
      <.button navigate={~p"/posts/#{@post.id}"} variant="primary" class="btn-outline">
        {gettext("Назад")}
      </.button>
      <.button type="submit">
        {gettext("Сохранить")}
      </.button>
    </div>
  </.form>
</div>