<div class="space-y-4">
  <%= for post <- @posts do %>
    <div class="bg-white rounded-global shadow-sm flex dark:bg-dark-card">
      <.post_vote post={post} />
      <div class="p-4 flex-1">
        <div class="flex items-center gap-2 text-xs text-jamboo-dark-gray flex-wrap dark:text-gray-400">
          <img src="https://i.pravatar.cc/20?img=3" alt="Автор" class="w-5 h-5 rounded-full" />
          <span class="font-bold text-black dark:text-dark-text">r/сообщество</span>
          <span>Автор: {post.author_nickname}</span>
          <span>5 часов назад</span>
        </div>
        <h3 class="text-lg font-semibold my-2 dark:text-dark-text">
          <.link href={~p"/posts/#{post.id}"} class="hover:underline">{post.title}</.link>
        </h3>
        <p class="text-gray-700 mb-3 text-balance dark:text-gray-300">{post.body}</p>
        <div class="flex gap-3 flex-wrap">
          <.link
            href={~p"/posts/#{post.id}"}
            class="flex items-center gap-1 text-sm text-jamboo-dark-gray px-3 py-1 rounded-small hover:bg-jamboo-light-gray transition dark:text-gray-400 dark:hover:bg-gray-700"
          >
            <.icon name="hero-chat-bubble-left-right" class="size-4" /> 0 Комментариев
          </.link>
          <button class="flex items-center gap-1 text-sm text-jamboo-dark-gray px-3 py-1 rounded-small hover:bg-jamboo-light-gray transition dark:text-gray-400 dark:hover:bg-gray-700">
            <.icon name="hero-share" class="size-4" /> Поделиться
          </button>
          <button class="flex items-center gap-1 text-sm text-jamboo-dark-gray px-3 py-1 rounded-small hover:bg-jamboo-light-gray transition dark:text-gray-400 dark:hover:bg-gray-700">
            <.icon name="hero-bookmark" class="size-4" /> Сохранить
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>