<div class="bg-white rounded-global shadow-sm p-6 mb-4 dark:bg-dark-card">
  <h1 class="text-2xl font-bold mb-6 dark:text-dark-text">Создать пост</h1>
  
  <.form for={@form} action={~p"/posts"} method="post">
    <.input field={@form[:title]} label="Заголовок" placeholder="Придумайте заголовок" />
    <.input field={@form[:body]} type="textarea" label="Текст поста" rows="8" placeholder="Напишите что-нибудь..." />
    <.input field={@form[:author_nickname]} label="Ваш ник" placeholder="Как вас зовут?" />

    <div class="flex justify-end gap-3 mt-6">
      <.button type="button" variant="primary">Сохранить черновик</.button>
      <.button type="submit">Опубликовать</.button>
    </div>
  </.form>
</div>
