<div class="bg-white rounded-global shadow-sm p-6 mb-4 dark:bg-dark-card">
  <h1 class="text-2xl font-bold mb-6 dark:text-dark-text">Создать пост</h1>
  
  <.form for={@form} action={~p"/posts"} method="post" id="post-form">
    <.input field={@form[:title]} label={gettext("Заголовок")} placeholder={gettext("Придумайте заголовок")} />
    <.input field={@form[:body]} type="textarea" label={gettext("Текст поста")} rows="8" placeholder={gettext("Напишите что-нибудь...")} />
    <.input field={@form[:author_nickname]} label={gettext("Ваш ник")} placeholder={gettext("Как вас зовут?")} />

    <div class="flex justify-end gap-3 mt-6">
      <.button type="button" variant="primary" class="btn-outline">
        {gettext("Сохранить черновик")}
      </.button>
      <.button type="submit">
        {gettext("Опубликовать")}
      </.button>
    </div>
  </.form>
</div>